
//.ns-android {
//  background-color: lawngreen;
//  .constrained {
//    background-color: yellow;
//  }
//}
//.ns-ios {
//  background-color: deepskyblue;
//  .constrained {
//    background-color: aquamarine;
//  }
//
//}


.tb-title-bar {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom-color: cornflowerblue;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}
.ns-android .tb-title-bar {
  margin-top:80px;
  padding-top: 0;
}
.ns-android .constrained .tb-title-bar {
  margin-top: 36px;
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom-width: 2px;
}
.ns-landscape .small .tb-title-bar { // special case for landscape mode small (android only)
  margin-top: 36px;
  padding-top: 8px;
  border-bottom-width: 2px;
}


.back-button {
  color: blue;
  vertical-alignment: middle;
  horizontal-alignment: left;
}

.ns-android .constrained .tool-bar-container { // android only
  width: 100px;
}

// for android tiny, eliminate the toolbars completely
.ns-android .tiny .tool-bar-container {
  hidden: true;
}
.ns-android .tiny .menu-box {
  margin-left: 10px
}
///

.tool-bar {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.tb-toolbutton {
  width: 80px;
  height: 100%;
  margin: 5px;
  border-color: darkblue;
  border-width: 1px;
  border-style: solid;
}
.ns-android .constrained .tb-toolbutton {
  width: 30px;
  margin: 1px;
  height: 30px;
}
.ns-android .tiny .tb-toolbutton {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
}

.ns-ios .tb-toolbutton {
  width: $ios-em;
  height: 100%;
}
.ns-ios .constrained .tb-toolbutton {
  width: 70px;
  height: 70px;
}

.ns-ios .tiny .tb-toolbutton {
  width: 30px;
  height: 30px;
}

.tbIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 1px;
}

.ns-android .constrained .tbIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1px;
  left: -2px;
}

.ns-android .ns-landscape .tbIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 18px;
}


.ns-ios .constrained .tbIcon {
  width: 70px;
  height: 70px;
  position: absolute;
  left: -2px;
}


.tbLabel {
  width: 100%;
  height: 100%;
  horizontal-alignment: center;
  vertical-alignment: middle;
}
.ns-android .tbLabel {
  margin-top: 10px;
}

.ns-android .ns-landscape .tbLabel {
  margin-top: 6px;
}

.constrained .tbLabel {
  margin-top: -2px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}

// has no effect in {N}. default size set in code there instead
//.menuIcon {
//  width: 20px;
//  height: 20px;
//}


.indicator-bar {
  padding: 0px;
  height: 100%;
  horizontal-alignment: right;
  vertical-alignment:center;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: flex-start;
}
.tb-indicator {
  width: 100%;
  height: 100%;
  border-radius:100%;
  horizontal-alignment: center;
  vertical-alignment: middle;

  > StackLayout {
    horizontal-alignment: center;
    vertical-alignment: middle;
  }
  Label {
    margin-left: 16px;
    margin-top: 3px;
  }
}
.ns-android .tb-indicator {
  Label {
    margin-left: 13px;
    margin-top: 1px;
  }
}
.ns-android .constrained .tb-indicator {
  width: 20px;
  height: 20px;
  border-radius:25px;
  Label {
    margin-top: -6px;
    margin-left: 4px;
    font-size: 12px;
  }
}
.ns-ios .tb-indicator {
  height: $ios-em * .75;
  width: $ios-em * .75;
  border-radius:$ios-em;
}

.ns-ios .indIcon {
  width: 65px;
  height: 64px;
  top: -4px;
  position: absolute;
  left: -5px;
}

.ns-android .indIcon {
  width: 37px;
  height: 37px;
  //top: -4px;
  //position: absolute;
  //left: -5px;
}

.ns-android .constrained .indIcon {
  width: 25px;
  height: 25px;
  //top: 1px;
  //position: absolute;
  //left: 1px;
}

.menu-box {
  border-color: darkkhaki;
  border-width: 2.25px;
  border-style: solid;
  font-size: 20px;

  horizontal-alignment: center;
  vertical-alignment: middle;
}
.ns-android .menu-box {
  font-size: 12px;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 4px;
  //font-size: 14px;
  //height: $android-em * 2;
}
.ns-android .constrained .menu-box {
  font-size: 10px;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  border-width: 1px;
}
.ns-ios .menu-box {
  padding-top: -5px;
  //font-size: $ios-em;
}

.SimpleLabel {
  font-size: 28px;
  margin: 0;
}
.constrained .SimpleLabel {
  font-size: 20px;
}

.SimpleButton {
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  Button {
    border-color: black;
    border-width: 2px;
    border-radius: 50px;
    background-color: aliceblue;
    font-size: 17px;
    font-weight: bold;
  }
}
.constrained .SimpleButton {
  Button {
    font-size: 12px;
  }
}
.tiny .SimpleButton {
  Button {
    font-size: 15px;
    font-weight: bold;
    border-width: 0.75px;
  }
}

.TextArea {
  font-size: 1em;
  overflow-y: scroll;
}


// experimental, not part of theme definition

.tool-state-default {
  background-color: yellowgreen;
}
.tool-state-off{
  background-color: darkgray;
}
.tool-state-on {
  background-color: red;
}
.indicator-state-default {
  background-color: yellowgreen;
}
.indicator-state-off{
  background-color: darkgray;
}
.indicator-state-on {
  background-color: red;
}


.target {
  color: black;
  background-color: yellow;
}